* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Roboto';
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
}

.header {
  display: flex;
  flex-flow: column;
  background-color: #1F2937;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
}

.left-links {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
  margin-left: 20px;
}

.right-links ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
  font-size: 18px;
  color: #E5E7EB;
  margin-right: 20px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  padding: 90px 289px 90px;
}

.hero-maintext h2 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  max-width: 350px;
}

.hero-subtext {
  font-size: 18px;
  color: #E5E7EB;
  max-width: 450px;
}

.sign-up {
  margin: 10px 0px;
  font-weight: bold;
  text-align: center;
  border: hidden;
  cursor: pointer;
  outline: none;
  border-radius: 7px;
  background-color: #3882F6;
  padding: 7px 40px;
  color: #F9FAF8
}

.hero-image {
  width: 600px;
  height: 225px;
}

.hero-image img {
  width: 100%;
  max-width: 620px;
  min-width: 155px;

  height: auto;
  max-height: 225px;
  min-height: 51px;

  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}

.info-main {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin: 50px;
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.info-card {
  display: flex;
  flex-direction: column;
  width: 170px;
  text-align: center;
}

.info-card img:hover {
  border-radius: 10px;
  background-color: #3882F6; 
  padding: 5px 5px; 
  cursor: pointer; 
}

.subtext {
  font-size: 18px;
  color: #1F2937;
  max-width: 170px;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.quote-text {
  font-weight: 300;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  max-width: 790px;
}

.quote-author {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  justify-content: flex-end;
  margin-left: 490px;
}

.promo {
  display: flex;
  justify-content: space-around;
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 45px 170px 45px 170px;
  margin: 100px auto;
  border-radius: 10px;
}

.promo-main {
  font-weight: 600;
  font-size: 24px;
  gap: 10px;
}

.promo-sub {
  color:#e5e7eb;
}

.second {
  border: 2px solid #f9faf8;
  margin-left: 200px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  color: #f9faf8;
  padding: 25px;
}